<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load  staticfiles %}
    {% load bootstrap3 %}
    <link rel="stylesheet" type="text/css" href="{% static 'content/bootstrap.min.css'%}">
    <link rel="stylesheet" id='theme' type="text/css" href="{% static 'content/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'content/jquery.tagit.css' %}">
    <link rel="stylesheet"  href="{% static 'content/rateit.css' %}">
    <link rel="stylesheet"  href="{% static 'content/dropdownmenu.css' %}">

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand" lang="en">PostCard Editor</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Choose Language
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#lang-en" lang="en" onclick="changeLanguage('en')">English</a></li>
                            <li><a href="#lang-ru" lang="en" onclick="changeLanguage('ru')">Russian</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Change Theme
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#lang-en" lang="en" onclick="changeTheme('style')">Theme1</a></li>
                            <li><a href="#lang-ru" lang="en" onclick="changeTheme('daytheme')">Theme2</a></li>
                        </ul>
                    </div>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {%  if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}" lang="en" class="navbar-brand" >{{ user.username }}</a></li>
                        <li><a href="{% url 'logout' %}" lang="en">Logout</a></li>
                        <input id="username" type="hidden" value="{{user.id}}" />
                    {% else %}
                        <li><p>
                            <a class="btn btn-lg btn-primary" href="{% url 'registration_register' %}">Register</a>
                        </p>
                        </li>
                        <li><p>
                            <a class="btn btn-lg btn-success"
                                href="{% url 'django.contrib.auth.views.login' %}">Sign in</a>
                        </p>
                        </li>
                        <li>
                          <a href="{% url 'social:begin' 'vk-oauth2' %}">
                            <i class="fa fa-vk fa-2x"></i>
                          </a>
                        </li>

                        <li>
                          <a href="{% url 'social:begin' 'facebook' %}">
                            <i class="fa fa-facebook fa-2x"></i>
                          </a>
                        </li>
                    {% endif %}
                    <section class="main">
                         <form id="search-form" class="search" method="POST" >
                             {% csrf_token %}
                             <input lang="en" id="search-text" type="text" name="q" placeholder="Search..." />
                             <ul class="results" id="searchlist" >
                             </ul>
                         </form>
                    </section>
                </ul>
            </div>
        </div>
    </div>
<div class='contentBlock'>
 {% block content %}{% endblock %}
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1521201841513566',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));



</script>

    <script src="{% static 'lib/jquery-1.10.2.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'lib/js.cookie.js' %}"></script>
    <script src="{% static 'lib/jquery-lang.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.10.2/dropbox.min.js"></script>
    <script src="{% static 'lib/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/fabric.min.js' %}"></script>
    <script src="{% static 'lib/jquery.rateit.min.js' %}"></script>
    <script src="{% static 'lib/tag-it.min.js' %}"></script>
    <script src="{% static 'lib/tagcanvas.js' %}"></script>
    <script src="{% static 'scripts/dropbox.js' %}"></script>
    <script src="{% static 'scripts/ImgView.js' %}"></script>
    <script src="{% static 'scripts/Crsf_tokenSetup.js' %}"></script>
    <script src="{% static 'scripts/UserProfile.js' %}"></script>
    <script src="{% static 'scripts/InfinityScroll.js' %}"></script>
    <script src="{% static 'scripts/loadtocanvas.js' %}"></script>
    <script src="{% static 'scripts/rating.js' %}"></script>
    <script src="{% static 'scripts/badges.js' %}"></script>
    <script src="{% static 'scripts/tagview.js' %}"></script>
    <script src="{% static 'scripts/InitAll.js' %}"></script>
    <script src="{% static 'scripts/profileEdit.js' %}"></script>
    <script src="{% static 'scripts/searching.js' %}"></script>
    <script src="{% static 'scripts/animation.js' %}"></script>


<script type="text/javascript">

    var lang = new Lang();
       lang.dynamic('ru', '{% static 'language/russian.json' %}');
    lang.init({
        defaultLang: 'en'
    });


    function changeLanguage(language){
        if(language=='en')
        window.lang.change('en');
        else if(language=='ru')
        window.lang.change('ru');
        return false;
    }

    function changeTheme(current){
        if(current=='style'){
            Cookies.set('theme','day');

        $('#theme').attr('href', '{% static 'content/daytheme.css' %}');
        }
        else if(current=='daytheme'){
        $('#theme').attr('href', '{% static 'content/style.css' %}');
          Cookies.set('theme','night');}

    }
    if(Cookies.get('theme')=='day')
      $('#theme').attr('href', '{% static 'content/daytheme.css' %}');
</script>


{% block scripts %}{% endblock %}
</body>

<div ></div>