
    {% load staticfiles %}
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Choose Template</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <div class="container">
                <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-6">
                    <div id="templateContainer">
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default exit" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
    <script src="{% static 'scripts/jquery-1.10.2.min.js' %}"></script>

{%  block scripts %}
    <script>
    function inittemplates()
    {
        $.get('/getListOfPicture/templates/',function(data){
            $.each( data, function( i, item ) {
                 getImage(item.fields.picture_url,function(url){
                    $( "#templateContainer").append(getView(url,item.pk,item.fields.name,item.fields.user,item.fields.rating,'true'));
                }
                );
            });
        });
    };
    inittemplates()
</script>
{% endblock %}