{% extends 'base.html' %}
{% load  staticfiles %}
{%  block content %}
     {%  if user.is_authenticated %}
    <button type="button" class="btn btn-default" id="savetest" >Save Postcard</button>
    {% else %}
    <p lang="en">Register to save postcard</p>
    {% endif %}

    <div class="input-group">
		<span lang="en"class="input-group-addon" >Post Card Name </span>
		<input type="text" name='Model Save' id = 'postCardName' class="form-control" text = '' style='width:200px'>
    </div>
    <div class="input-group">
    <span class="input-group-addon" lang="en"> Enter Tags</span> <ul id="myTags"  class="form-control"></ul>
    </div>
    <div class='container' id = 'mainblock'>
        <canvas width="100" height="100" id = "first" style="border: 1px solid; position:absolute;"></canvas>
        <button type="button" class="btn btn-default" onclick="upObject()" lang="en">Object Up</button>
        <button type="button" class="btn btn-default" onclick="stopAnimation()" lang="en">Stop All Animation</button>
        <button type="button" class="btn btn-default" onclick="downObject()"lang="en">Object Down</button>
        <button type="button" class="btn btn-default" onclick="createTextField()"lang="en">Create New Text Field</button>
        <input type = "color" id='text-color' onchange="changeColor(this.value)">
        <select id = 'setfontfamily'>
            <option value="" disabled="disabled" selected="selected">Please select a font style</option>
            <option value = "arial black">arial black</option>
            <option value = "sans-serif">sans-serif</option>
            <option value = "monospace">monospace</option>
            <option value = "Comic Sans MS">Comic Sans MS</option>
            <option value = "BansheeStd">BansheeStd</option>
            <option value = "Agency FB">Agency FB</option>
        </select>
        <select id = 'setanimationtype'>
            <option value="" disabled="disabled" selected="selected">Please select an animation type</option>
            <option value = "sliding">Sliding animation</option>
            <option value = "scale_sliding">Sliding with scaling animation</option>
            <option value = "none">Off animation</option>
        </select>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#myTags").tagit();
    });
  $('#myTags').tagit('assignedTags')

</script>
    <script src="{% static 'scripts/TemplateCreation.js' %}"></script>
{%  endblock %}




