{% extends 'base.html' %}
{%  block content %}
    <button type="button" class="btn btn-default" id="savetest" >Save Postcard</button>
    <div>
		<span>Post Card Name </span>
		<input type="text" name='Model Save' id = 'postCardName' text = ''>
        <ul id="myTags"></ul>
    </div>
    <div class='container' id = 'mainblock'>
    <canvas width="500" height="500" id = "first" style="border: 1px solid; position:absolute;"></canvas>
    <button type="button" class="btn btn-default" onclick="upObject()">Object Up</button>
	<button type="button" class="btn btn-default" onclick="downObject()">Object Down</button>
    <button type="button" class="btn btn-default" onclick="createTextField()">Create New Text Field</button>
    <input type = "color" id='text-color' onchange="changeColor(this.value)">
    <select id = 'setfontfamily'>
        <option value = "arial black">arial black</option>
        <option value = "sans-serif">sans-serif</option>
        <option value = "monospace">monospace</option>
        <option value = "Comic Sans MS">Comic Sans MS</option>
        <option value = "BansheeStd">BansheeStd</option>
        <option value = "Agency FB">Agency FB</option>
    </select>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#myTags").tagit();
    });
  $('#myTags').tagit('assignedTags')

</script>
{%  endblock %}


