{% extends 'base.html' %}
{%  block content %}
<div class="jumbotron">
  <div id="TagCanvas">
 <canvas width="250" height="250" id="TagCloud">

 </canvas>
</div>
<p lang="en"> Welcome!</p>

{% if user.is_authenticated %}
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" lang="en">Create New PostCard</button>
{% include 'CreatePostCardButton.html' %}
    {% else %}
    <p lang="en"> If you want create your own postcard, please <a href="accounts/register">create your own account</a>, or use <a href="{% url 'social:begin' 'facebook' %}">Facebook</a> or  <a href="{% url 'social:begin' 'vk-oauth2' %}">VK</a></p>
{%  endif %}
    </div>
<div class="container">
    <div class="row">
         <div class="col-md-1">
            </div>
        <div class="col-md-9">
            <div id="imgContainer" class="View">
            </div>
        </div>
            <div class="col-md-2">

<div id="tags">
 <ul>
                {% load tagging_tags %}

    {% tag_cloud_for_model PostCard.PostCard as tags with steps=20 min_count=1 distribution=log %}
    {% for tag in tags %}
        {% if tag.name != '[' and tag.name != ']' and tag.name != '[]' %}
        <li><a href="/tags/{{ tag.name }}" title="{{ tag.count }}">{{ tag.name }}</a></li>
          {% endif %}

              {% endfor %}
 </ul>
</div>
            </div>


    </div>
</div>
{%  endblock %}
{%  block scripts %}
<script>
    initGallery();
   inittemplates();

      TagCanvas.Start('TagCloud','tags');

</script>
{% endblock %}