{% extends 'base.html' %}

{%  block content %}
    <form type="get" action=".">
    <input type="text" name="q">
    <button type="submit">Search</button>
</form>

{% for note in notes %}
<h1>{{ note.title }}</h1>
<p>
    {{ note.body }}
</p>
{% endfor %}
<canvas width="800" height="600" id="viewCanvas"></canvas>
    {% if user.is_authenticated %}
        <div class="rateit bigstars" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-step="1" data-rateit-resetable="false"  ></div>
    {% endif %}
    <div class="voterInfo"><p lang="en">Total rating <span id="totalRating"></span>, <span id="numberOfVoters"></span>  users leave they vote already</p> </div>
    <div id="disqus_thread"></div>
{%  endblock %}
{% block scripts %}
    <script>
    initCanvas();
    initVote();

var disqus_config = function () {
    this.page.url = window.location.href; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = window.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    this.page.title = window.location.pathname;
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//ragnardanneshild.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
    </script>
{%  endblock %}